@use "./styles/theme";

.mode {
  margin: 0;
  display: grid;
  place-content: center;
  height: 100vh;
  font-size: 25px;
  color: var(--color-text);
  background-color: var(--color-background);
}
.title {
  color: var(--color-title);
}
